html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Muli', sans-serif;
   
}

body a {
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

.bg-dark {
    background-color: #854768 !important
}

/*-- services --*/

.mb-60 {
    margin-bottom: 60px;
}

.heading {
    font-size: 21px;
    color: #000;
    font-weight: bold;
    padding: 40px;
}

.services-inner {
    border: 2px solid #7a7a7a;
    margin-left: 35px;
    transition: .3s;
    background: #fff
}

.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 8px;
    margin-top: 45px;
    text-align: center;
}

.our-services-img span.fa {
    width: 68px;
    font-size: 40px;
    color: gray;
    background: #fff;
}

.our-services-text {
    padding-right: 10px;
}

.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}

.our-services-text h4 {
    color: #222222;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.our-services-text h4::before {
    background: #ff4f81 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 40px;
}

.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}

.our-services-text p {
    margin-bottom: 0;
}

.services p {
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
}

.services {
    position: relative;
    z-index: 2;
    clear: both;
    background-color: #9aa100;
    width: 100%;
}

.btn-danger {
    color: #fff;
    background-color: darkslategray;
    border-color: darkgray;
}


/*-- //services-- */

/*--//about us--*/
.about {
    clear: both;
    width: 100%;
    padding: 100px 0px;
    text-align: center;
    color: white;
    background-color: #854768;
}
.name {
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
}
.about-text{
    text-align: justify;
}
/*--//end about us --*/

/*--// products --*/
.products {
    clear: both;
    width: 100%;
    padding: 50px 0px;
}
.products marquee {
    color: red;
    font-size: 22px;
    font-weight: bold;
}
.wapper {
    background-color: #fff;
    height: 400px;
}

.card {
    margin-top: 1em;
    background-color: #fff;
}

.card span {
    color: black;
    font-weight: 600;
}

.card span i {
    color: #A5A5A5;
    font-size: 20px;
    margin-right: 1em;
}

.form-check-input {
    height: 18px;
    width: 18px;
}

.card-body {
    font-weight: 600;
}

.card-body ul li {
    margin: 1em;
}

.single-product {
    text-align: center;
    margin-bottom: 50px;
}

.latest-product-area .latest-area {
    background-size: cover;
    background-repeat: no-repeat;
}

.latest-product-area .product-btn {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 80px;
    padding: 0 11px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .latest-product-area .product-btn {
        border-bottom: none;
        margin-bottom: 24px;
        padding: 0 11px;
    }
}

@media (max-width: 767px) {
    .latest-product-area .product-btn {
        border-bottom: none;
        margin-bottom: 24px;
        padding: 0 11px;
    }
}

.latest-product-area .single-product .product-img {
    margin-bottom: 30px;
    position: relative;
}

.latest-product-area .single-product .product-img img {
    width: 100%;
}

.latest-product-area .single-product .product-img .new-product {
    position: absolute;
    top: 25px;
    left: 23px;
}

.latest-product-area .single-product .product-img .new-product span {
    background: #ff003c;
    padding: 3px 16px;
    border-radius: 30px;
    color: #fff;
}

.latest-product-area .single-product h4 a {
    margin-bottom: 16px;
    font-size: 16px;
    color: #383838;
}

.latest-product-area .single-product h4 a:hover {
    color: #ff003c;
}

.latest-product-area .single-product .product-caption .product-ratting i {
    color: #ffbc07;
    margin-bottom: 14px;
}

.latest-product-area .single-product .product-caption .product-ratting i.low-star {
    color: #d3d3d3;
}

.latest-product-area .single-product .product-caption .price ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding-right: 13px;
}

.latest-product-area .single-product .product-caption .price ul li.discount {
    color: #ff003c;
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .latest-product-area .properties__button {
        float: left;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .latest-product-area .properties__button {
        float: left;
    }
}

.latest-product-area .nav-tabs .nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
}

@media (max-width: 767px) {
    .latest-product-area .nav-tabs .nav-link {
        padding: .5rem .6rem;
    }
}

.latest-product-area .nav-tabs .nav-item.show .nav-link,
.latest-product-area .nav-tabs .nav-link.active {
    color: #ff003c;
}

.latest-product-area .nav-tabs .nav-item {
    padding-bottom: 10px;
    display: block;
    color: #8f8f96;
    text-transform: capitalize;
    font-size: 16px;
}

.latest-product-area .nav-tabs {
    margin-bottom: 15px;
    padding-bottom: 0px;
    position: relative;
    border: 0;
    display: flex;
    justify-content: center;
}

.latest-product-area .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #333333;
}

.latest-product-area .nice-select .option:hover,
.latest-product-area .nice-select .option.focus,
.latest-product-area .nice-select .option.selected.focus {
    background-color: #00b1ff;
}

.latest-product-area .nice-select .list {
    background-color: #fff;
}

.latest-product-area .nice-select::after {
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    height: 7px;
    width: 7px;
    margin-top: -7px;
}

.latest-product-area .featured {
    padding-top: 7px;
    padding-left: 7px;
}

.latest-product-area .single-product .product-caption .product-ratting i {
    color: #ffbc07;
    margin-bottom: 14px;
}

.latest-product-area .single-product .product-caption .product-ratting i.low-star {
    color: #d3d3d3;
}
.buy {
    display: flex;
    justify-content: space-around;
}
.more-products {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}
/*--//end products --*/
/* coontact us  */
.contact{
    background-color: #9aa100;
    padding: 100px 0px;
}
.contactus{
    position: relative;
    width: 900px;
    max-width: 80%;
    border: 2px solid #333;
    border-top: none;
    text-align: center;
    margin: 60px auto;
  }
  
  .contactus h1 {
    position: relative;
    margin-top: -14px;
    display: inline-block;
    letter-spacing: 4px;
  }
  
  .top-border{
    position: absolute;
    height: 2px;
    width: 24%;
    background-color: #333;
  }
  
  .right {
    right: 0;
  }
  
  .left {
    left: 0;
  }
  
  @media (max-width: 685px) {
  .top-border {	
    width: 18%;
      }
  }
  @media (max-width: 500px) {
    .top-border {	
      display: none;
    }
    .contactus {
    border-top: 2px solid #333;
    }
    .contactus h1 {
      margin: 20px 6px;
    }
  }
.contact-form {
    padding: 30px;
}
label {
    display: flex !important;
}
/* end contact us  */
/* footer  */
.footer {
    clear: both;
    padding: 100px 0px;
    background-color: #854768;
    color: #fff;
    margin-top: 10px;
}
.last-bg {
  background-color: black;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
}
ul li {
    list-style-type: none;
}
.footer ul li a {
    color: #fff;
    display: flex;
    text-align: justify;
}
.footer ul li a:hover {
    color: red;
    font-weight: bold;
}
hr.new1 {
    border-top: 1px solid #c8c8c8;
  }
.social-icon {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.social-icon a {
    margin: 10px;
    color: #fff;
}
.social-icon a:hover{
    color: blue;
    font-size: 25px;
}


/* Paymnet  */
.Payment {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  .payment-display {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .payment-container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=month] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .chek-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .chek-btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  @media (max-width: 800px) {
    /* .row {
      flex-direction: column-reverse;
    } */
    .col-50, .col-75 {
        padding: 0 19px;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

/* en payment */