html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Muli', sans-serif;
   
}
* {
    box-sizing: border-box;
  }

body a {
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}
.main {
    background-color: #854768;
    padding: 10px;
    display: flex;
    justify-content:space-between ;
}
  /* image and video section  */
.Image-video{
    clear: both;
    padding: 50px 0px;
}
 /*end image and video section  */

/* slider  */

.item img {
    max-width: 100%;
    height: auto;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .slider {
    font: normal 18px/1.5 monospace;
    overflow: hidden;
    background: #424242;
  }
  
  .over-visible {
    overflow: visible;
  }
  
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: white;
  }
  ol li {
    list-style: none;
  }
  .slide {
    max-width: 880px;
    padding: 20px 10px;
    margin: 0 auto;
  }
  
  .synch-carousels {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .synch-carousels > * {
    width: 100%;
  }
  
  .synch-carousels .right {
    order: -1;
  }
  
  .synch-carousels .left {
    overflow: hidden;
  }
  
  .synch-carousels .gallery {
    display: none;
  }
  
  .synch-carousels .slick-slide {
    outline: none;
  }
  
  .synch-carousels .slick-vertical .slick-slide {
    border: none;
  }
  
  .synch-carousels .gallery .slick-list {
    height: auto !important;
    margin: 0 -20px;
  }
  
  .synch-carousels .gallery .slick-slide {
    cursor: pointer;
  }
  
  .synch-carousels .gallery .slick-slide {
    margin: 0 20px;
  }
  
  .synch-carousels .nav-arrows {
    display: flex;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .synch-carousels .nav-arrows svg {
    fill: white;
  }
  
  .synch-carousels .arrow-left {
    margin-right: 35px;
  }
  
  .synch-carousels .photos-counter {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 20px;
    color: white;
    background: #292929;
  }
  
  @media screen and (min-width: 480px) {
    .synch-carousels .right {
      margin-bottom: 20px;
    }
  
    .synch-carousels .gallery {
      display: block;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .synch-carousels .right {
      position: relative;
      width: calc(100% - 230px);
      margin-bottom: 0;
      order: 2;
    }
  
    .synch-carousels .left {
      width: 210px;
    }
  
    .synch-carousels .gallery .slick-slide {
      margin: 0 0 20px 0;
    }
  
    .synch-carousels .gallery .slick-list {
      margin: 0;
    }
  }
/* end slider  */
 /* footer  */
.footer {
    clear: both;
    padding: 100px 0px;
    background-color: #854768;
    color: #fff;
    margin-top: 10px;
}
.last-bg {
  background-color: black;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
}
ul li {
    list-style-type: none;
}
.footer ul li a {
    color: #fff;
    display: flex;
    text-align: justify;
}
.footer ul li a:hover {
    color: red;
    font-weight: bold;
}
hr.new1 {
    border-top: 1px solid #c8c8c8;
  }
.social-icon {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.social-icon a {
    margin: 10px;
    color: #fff;
}
.social-icon a:hover{
    color: blue;
    font-size: 25px;
}

